.features {
  display: flex;
  align-items: center;
  padding: 2rem 24px 3rem 24px;
  width: 100%;
}

.featureSvg {
  height: 50px;
  width: 50px;
}

.cardIcon {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F5FF;
  border-radius: 100%;
  margin: auto;
}

.featuresLink {
  text-decoration-line: none !important;
}

.rowContainer {
  justify-content: center;
  gap: 1.50rem;
}

.cardContainer {
  border-radius: 0.75rem;
  padding: 1.25rem !important;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

[data-theme='light'] .cardContainer {
  background: #ffffff;
  border: 1px solid #EAECF0;
}

[data-theme='light'] .cardContainer:hover {
  background: #F9FAFB;
}

.cardContainer:hover {
  scale: 1.05;
}

[data-theme='dark'] .cardContainer {
  background: #262d3c;
  border: 1px solid #262d3c;
}

[data-theme='dark'] .cardIcon {
  background-color: #757587;
}

[data-theme='dark'] .title {
  color: #ffffff;
}

[data-theme='dark'] .paragraph {
  color: #8b8e98;
}

.cardDetail {
  margin-top: 1rem;
}

.title {
  margin-top: 1rem;
  color: #101828;
}

.paragraph {
  margin: 0px;
  color: #344054;
}
