.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.featuresLink {
  text-decoration-line: none !important;
}

.rowContainer {
  justify-content: center;
  gap: 1.50rem;
}

.cardContainer {
  background: #ffffff;
  border-radius: 0.75rem;
  /* border: 1px solid #EAECF0; */
  padding: 1.25rem !important;
}

.cardContainer:hover {
  background: #F9F5FF;
}

.cardDetail {
  margin-top: 1rem;
}

.title {
  margin-top: 1rem;
  color: #101828 !important;
}

.paragraph {
  margin: 0px;
  color: #344054 !important;
}
