.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.featureSvg {
  height: 60px;
  width: 60px;
  object-position: center;
  margin: auto;
}

.cardIcon {
  height: 70px;
  width: 70px;
  margin: auto;
  background-color: #F9F5FF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.featuresLink {
  color: #172642 !important;
  text-decoration-line: none !important;
}

.cardContainer:hover {
  background: #F9FAFB;
}

[data-theme='dark'] .cardContainer {
  background: #262d3c;
  border: 1px solid #262d3c;
}

[data-theme='dark'] .cardIcon {
  background-color: #757587;
}

[data-theme='dark'] .title {
  color: #ffffff;
}

[data-theme='dark'] .paragraph {
  color: #8b8e98;
}

.rowsContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.textCard {
  text-decoration-line: none !important;
}

.cardContainer {
  border: 1px solid #EAECF0;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #ffffff;
  width: 100%;
  /* max-width: 320px !important; */
}

.paragraph {
  margin: 0px;
  font-size: 14px;
  line-height: 1.25rem;
}