.longRunCardContainer {
  border: 1px solid #D0D5DD;
  padding: 0.5rem 0.875rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.longRunCardContainer:hover {
  background-color: #F9FAFB;
  text-decoration-line: none !important;
}

.longRunTitle {
  font-weight: 500;
  color: #344054 !important;
}

.longRunTitle:hover {
  text-decoration-line: none !important;
}